nav {
    background-color: #ddafbb;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    
    display: inline-block;
    margin: 20px;
}

div ul {
    display: block;
}

#imagen-p {
    width: 200px;
    height: 200px;
    display: inline-block;
}

#presentacion {
    display: flex;
    justify-content: center;
}

main span {
    color:red;
}

table{
    margin: 30px;
}

tr th {
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #9c9c9c;
    color: white;
}

footer p {
    display: flex;
    justify-content: center;
}

#crml {
    font-size: 18px;
}

#crml span{
    color: blue;
}