nav {
    background-color: #cdcdcd;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    
    display: inline-block;
    margin: 20px;
}

#imagen-p {
    width: 200px;
    height: 200px;
    display: inline-block;
}

#presentacion p {
    display: inline;
}

main span {
    color:red;
}

footer {
    background-color: #323232;
    color: white;
}